{{!TO DO: update headers, labels, IDs, names. REMEMBER! these need to be called by the event handlers in public/js, so the ids need to match}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Submit a new bite:</h3>

    <form class="form new-bite-form">
      <div class="form-group">
        <label for="bite-headline">What do you want to ask about your bite?</label>
        <input class="form-input" type="text" id="bite-headline" name="bite-headline" />
      </div>
      {{!-- <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div> --}}
      <div class="form-group">
        <label for="bite-content">Please provide additional deatils about your bite:</label>
        <textarea class="form-input" id="bite-content" name="bite-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  {{#if bites.length}}
  <div class="col-md-6 bite-list">
    <h3>Bites people have been bitten by:</h3>

    {{#each bites as |bite|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/bites/{{bite.id}}">{{bite.headline}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{bite.id}}">DELETE THIS BITE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
