<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<img class='h-auto max-w-sm rounded-sm' src='/images/oldbug.png' />
<div class='row mt-4'></div>
<div class='col-md-6'>
  <h3>Submit a new bite:</h3>
  <form class='form new-bite-form'>
    <div class='form-group'>
      <label for='bite-headline'>What do you want to ask about your bite?</label>
      <input
        class='form-input'
        type='text'
        id='bite-headline'
        name='bite-headline'
      />
    </div>
    {{! //add for group for image_url: }}
    <div class='form-group'>
      <label for='bite-image_url'>Please provide an image URL for your bite:</label>
      <input
        class='form-input'
        {{!-- type='text' --}}
        type="file"
        id='bite-image_url'
        name='bite-image_url'
      />
    </div>
    <div class='form-group'>
      <label for='bite-content'>Please provide additional details about your
        bite:</label>
      <textarea
        class='form-input'
        id='bite-content'
        name='bite-content'
      ></textarea>
    </div>
    <div class='form-group'>
      <button
        type='submit'
        class='bg-green-400 text-white px-4 py-2 rounded-md'
        class='btn btn-primary'
      >Submit</button>
    </div>
  </form>
</div>

{{#if bites.length}}
  <div class='col-md-6 bite-list'>
    <h3>Bites you have submitted:</h3>

    {{#each bites as |bite|}}
      <div class='row mb-2'>
        <div class='col-md-8'>
          <a href='/bites/{{bite.id}}'>{{bite.headline}}</a>
        </div>
        <div class='col-md-4 delete-list'>
          <button class='btn btn-sm btn-danger' data-id='{{bite.id}}'>DELETE
            THIS BITE</button>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}


<script src='./js/profile.js'></script>
